config SNAPSHOT_ON_DISK
	bool "Next3 on-disk format changes"
	help
	  Next3 uses a few reserved fields and flags in the Ext2 super block,
	  and inode structs.
	  Next3 defines the compatible feature 'exclude_inode', meaning that
	  the special exclude inode was allocated.
	  Next3 defines the read-only compatible features 'has_snapshot', meaning
	  that the file system contains snapshots.

config SNAPSHOT_BIG_JOURNAL
	bool "Create a big journal for Next3"
	help
	  Next3 transactions reserve up to 24 times more credits than Ext3
	  transactions for the same operation.  On mke2fs and tune2fs, if the
	  '-J big' option is used to create a journal, increase the default
	  journal size by a factor of 24.

config SNAPSHOT_EXCLUDE_INODE
	bool "Create/check exclude inode for Next3"
	help
	  The exclude inode owns all the exclude bitmap blocks.
	  It is pre-allocated by 'mke2fs/tune2fs -O exclude_inode'.
	  It is extended by resize2fs when block groups are added.
	  Fsck checks that all exclude inode blocks are allocated.

config SNAPSHOT_CTL
	bool "Next3 snapshot control with chattr/lsattr -X"
	help
	  Set/clear snapshots parent directory with chattr +/-x.
	  Take/delete snapshot with chattr -X +/-S.
	  Enable/disable snapshot with chattr -X +/-n.
	  View snapshot status with lsattr -X.

config SNAPSHOT_HAS_SNAPSHOT
	bool "Avoid offline modifications to a file system with snapshots"
	help
	  Next3 sets the read-only compatible feature 'has_snapshot',
	  so the file system could be mounted with Ext3 only in read-only mode
	  to protect the snapshots.
	  Fsck displays a warning about possible corruption of the snapshots
	  in interactive mode and avoids freeing blocks in preen mode.
